---

import Accordion from '../components/Accordion.astro';
---
<Accordion label="Border Style">
  <section class="accordion">
    <ul class="mb-8">
      <li class="mb-4 border-2 border-solid">
        <p class="p-2">border-solid</p>
      </li>
      <li class="mb-4 border-2 border-dashed">
        <p class="p-2">border-dashed</p>
      </li>
      <li class="mb-4 border-2 border-dotted">
        <p class="p-2">border-dotted</p>
      </li>
      <li class="mb-4 border-2 border-double">
        <p class="p-2">border-double</p>
      </li>
      <li class="mb-4 border-2 border-hidden">
        <p class="p-2">border-hidden</p>
      </li>
      <li class="mb-4 border-2 border-none">
        <p class="p-2">border-none</p>
      </li>
    </ul>
  </section>
</Accordion>
