---

import Accordion from '../components/Accordion.astro';
---
<Accordion label="Border Width">
  <section class="accordion">
    <p class="mb-8">Based on browser default font-size of 16px</p>
    <h3>Border on all sides</h3>
    <ul class="mb-8">
      <li class="mb-4 border-0">
        <p class="p-2">border-0, 0px</p>
      </li>
      <li class="mb-4 border">
        <p class="p-2">border, 1px</p>
      </li>
      <li class="mb-4 border-2">
        <p class="p-2">border-2, 2px</p>
      </li>
      <li class="mb-4 border-4">
        <p class="p-2">border-4, 4px</p>
      </li>
      <li class="mb-4 border-8">
        <p class="p-2">border-8, 8px</p>
      </li>
    </ul>

    <h3>Border on left and right</h3>
    <ul class="mb-8">
      <li class="mb-4 border-x-0">
        <p class="p-2">border-x-0, 0px</p>
      </li>
      <li class="mb-4 border-x">
        <p class="p-2">border-x, 1px</p>
      </li>
      <li class="mb-4 border-x-2">
        <p class="p-2">border-x-2, 2px</p>
      </li>
      <li class="mb-4 border-x-4">
        <p class="p-2">border-x-4, 4px</p>
      </li>
      <li class="mb-4 border-x-8">
        <p class="p-2">border-x-8, 8px</p>
      </li>
    </ul>

    <h3>Border on top and bottom</h3>
    <ul class="mb-8">
      <li class="mb-4 border-y-0">
        <p class="p-2">border-y-0, 0px</p>
      </li>
      <li class="mb-4 border-y">
        <p class="p-2">border-y, 1px</p>
      </li>
      <li class="mb-4 border-y-2">
        <p class="p-2">border-y-2, 2px</p>
      </li>
      <li class="mb-4 border-y-4">
        <p class="p-2">border-y-4, 4px</p>
      </li>
      <li class="mb-4 border-y-8">
        <p class="p-2">border-y-8, 8px</p>
      </li>
    </ul>











    <h3>Border on top</h3>
    <ul class="mb-8">
      <li class="mb-4 border-t-0">
        <p class="p-2">border-t-0, 0px</p>
      </li>
      <li class="mb-4 border-t">
        <p class="p-2">border-t, 1px</p>
      </li>
      <li class="mb-4 border-t-2">
        <p class="p-2">border-t-2, 2px</p>
      </li>
      <li class="mb-4 border-t-4">
        <p class="p-2">border-t-4, 4px</p>
      </li>
      <li class="mb-4 border-t-8">
        <p class="p-2">border-t-8, 8px</p>
      </li>
    </ul>

    <h3>Border on right</h3>
    <ul class="mb-8">
      <li class="mb-4 border-r-0">
        <p class="p-2">border-r-0, 0px</p>
      </li>
      <li class="mb-4 border-r">
        <p class="p-2">border-r, 1px</p>
      </li>
      <li class="mb-4 border-r-2">
        <p class="p-2">border-r-2, 2px</p>
      </li>
      <li class="mb-4 border-r-4">
        <p class="p-2">border-r-4, 4px</p>
      </li>
      <li class="mb-4 border-r-8">
        <p class="p-2">border-r-8, 8px</p>
      </li>
    </ul>

    <h3>Border on bottom</h3>
    <ul class="mb-8">
      <li class="mb-4 border-b-0">
        <p class="p-2">border-b-0, 0px</p>
      </li>
      <li class="mb-4 border-b">
        <p class="p-2">border-b, 1px</p>
      </li>
      <li class="mb-4 border-b-2">
        <p class="p-2">border-b-2, 2px</p>
      </li>
      <li class="mb-4 border-b-4">
        <p class="p-2">border-b-4, 4px</p>
      </li>
      <li class="mb-4 border-b-8">
        <p class="p-2">border-b-8, 8px</p>
      </li>
    </ul>

    <h3>Border on left</h3>
    <ul class="mb-8">
      <li class="mb-4 border-l-0">
        <p class="p-2">border-l-0, 0px</p>
      </li>
      <li class="mb-4 border-l">
        <p class="p-2">border-l, 1px</p>
      </li>
      <li class="mb-4 border-l-2">
        <p class="p-2">border-l-2, 2px</p>
      </li>
      <li class="mb-4 border-l-4">
        <p class="p-2">border-l-4, 4px</p>
      </li>
      <li class="mb-4 border-l-8">
        <p class="p-2">border-l-8, 8px</p>
      </li>
    </ul>
  </section>
</Accordion>
