---

import Accordion from '../components/Accordion.astro';
---
<Accordion label="Font Size">
  <section class="accordion">
    <p class="mb-8">Based on browser default font-size of 16px</p>
    <ul>
      <li class="text-[0.67rem]">
        <p class="mb-4">text-[0.67rem], default h6 size in most browsers</p>
      </li>
      <li class="text-xs">
        <p class="mb-4">text-xs, 0.75rem</p>
      </li>
      <li class="text-[0.83rem]">
        <p class="mb-4">text-[0.83rem] - default h5 size in most browsers</p>
      </li>
      <li class="text-sm">
        <p class="mb-4">text-sm, 0.875rem</p>
      </li>
      <li class="text-base">
        <p class="mb-4">text-base, 1rem - also the default h4 size in most browsers</p>
      </li>
      <li class="text-lg">
        <p class="mb-4">text-lg, 1.125rem</p>
      </li>
      <li class="text-[1.17rem]">
        <p class="mb-4">text-[1.17rem] - default h3 size in most broewsers</p>
      </li>
      <li class="text-xl">
        <p class="mb-4">text-xl, 1.25rem</p>
      </li>
      <li class="text-2xl">
        <p class="mb-4">text-2xl, 1.5rem - default h2 size in most browsers</p>
      </li>
      <li class="text-3xl">
        <p class="mb-4">text-3xl, 1.875rem</p>
      </li>
      <li class="text-[2rem]">
        <p class="mb-4">text-[2rem], default h1 size in most browsers</p>
      </li>
      <li class="text-4xl">
        <p class="mb-4">text-4xl, 2.25rem</p>
      </li>
      <li class="text-5xl">
        <p class="mb-4">text-5xl, 3rem</p>
      </li>
      <li class="text-6xl">
        <p class="mb-4">text-6xl, 3.75rem</p>
      </li>
      <li class="text-7xl">
        <p class="mb-4">text-7xl, 4.5rem</p>
      </li>
      <li class="text-8xl">
        <p class="mb-4">text-8xl, 6rem</p>
      </li>
      <li class="text-9xl">
        <p class="mb-4">text-9xl, 8rem</p>
      </li>
    </ul>
  </section>
</Accordion>
